{% extends 'base.html' %}{% load static %}
{% block title %}
  Edit Profile
{% endblock %}

{% block content %}
  <section class="pt-4 bg-gray-50 dark:bg-gray-900">
    <div class="px-6 py-8 mx-auto lg:py-0 container">
      <div class="bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Profile</h1>

          <form class="space-y-4 md:space-y-6" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="grid gap-4">
              {% comment %} {{ form.as_p }} {% endcomment %}

              {% comment %} if picture display {% endcomment %}
              {% if form.avatar.value %}
                <div>
                  {% load dict_filter %}
                  <img src="{{ form.avatar.value.url|remove_media_prefix }}" alt="avatar" class="w-20 h-20 rounded-full" />
                </div>
              {% endif %}

              <div>
                <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900">Avatar</label>
                <input type="file" name="avatar" accept="image/*" id="id_avatar" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" />
              </div>

              <div>
                <label for="bio" class="block mb-2 text-sm font-medium text-gray-900">Bio</label>
                <textarea id="id_bio" name="bio" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something about you here...">{{ form.bio.value }}</textarea>
              </div>

              <div>
                <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900">Date de naissance</label>
                <input value="{{ form.birthdate.value|date:"Y-m-d" }}" type="date" name="birthdate" id="id_birthdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="" />
              </div>

              <div>
                <label for="emotion" class="block mb-2 text-sm font-medium text-gray-900">Humeur</label>
                <select name="emotion" id="id_emotion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value="happy" {% if form.emotion.value == "happy" %} selected {% endif %}>🙂 Happy</option>
                  <option value="sad" {% if form.emotion.value == "sad" %} selected {% endif %}>😭 Sad</option>
                  <option value="angry" {% if form.emotion.value == "angry" %} selected {% endif %}>😡 Angry</option>
                  <option value="neutral" {% if form.emotion.value == "neutral" %} selected {% endif %}>😐 Neutral</option>
                  <option value="I don't care" {% if form.emotion.value == "I don't care" %} selected {% endif %}>🖕 I don't care</option>
                </select>
              </div>

              <div>
                <label for="language" class="block mb-2 text-sm font-medium text-gray-900">Default language four output of ChatGPT</label>
                <input type="hidden" id="id_language" name="language" value="{{form.language.value}}">
                <div class="relative dropdown-container bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                  <div class="dropdown-selected p-2.5 cursor-pointer flex items-center">Choisissez une langue</div>
                  <div class="dropdown-options hidden absolute bg-white dark:bg-gray-700 border mt-1 rounded-lg w-full z-10">
                      {% for language in languages %}
                        <div class="dropdown-option p-2.5 cursor-pointer flex items-center" data-value="{{ language.code }}">
                          <img src="/static/country-flags/png100px/{{ language.code|lower }}.png" alt="" class="h-3.5 w-3.5 rounded-full mr-2"> {{ language.name }}
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="text-end">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdownSelected = document.querySelector('.dropdown-selected');
            const dropdownOptions = document.querySelector('.dropdown-options');
            const hiddenInput = document.getElementById('id_language');
    
            // Function to update the dropdown based on the hidden input's value
            function updateDropdownSelection() {
                document.querySelectorAll('.dropdown-option').forEach(option => {
                    if (option.dataset.value === hiddenInput.value) {
                        // Copy the entire HTML content, including the flag
                        dropdownSelected.innerHTML = option.innerHTML;
                        dropdownSelected.dataset.value = option.dataset.value;
                    }
                });
            }
    
            // Initial update of the dropdown to reflect the hidden input's value
            updateDropdownSelection();
    
            // Toggle dropdown options visibility
            dropdownSelected.addEventListener('click', function() {
                dropdownOptions.classList.toggle('hidden');
            });
    
            // Update selected item, hide options, and update hidden input when an option is clicked
            document.querySelectorAll('.dropdown-option').forEach(option => {
                option.addEventListener('click', function() {
                    // Copy the entire HTML content, including the flag
                    dropdownSelected.innerHTML = this.innerHTML;
                    dropdownSelected.dataset.value = this.dataset.value;
                    dropdownOptions.classList.add('hidden');
                    
                    // Update the hidden input's value
                    hiddenInput.value = this.dataset.value;
                });
            });
    
            // Optional: Hide dropdown options when clicking outside
            document.addEventListener('click', function(e) {
                if (!dropdownSelected.contains(e.target) && !dropdownOptions.contains(e.target)) {
                    dropdownOptions.classList.add('hidden');
                }
            });
        });
        </script>
{% endblock %}
