{% extends 'base.html' %}
{% block title %}
  Edit Profile
{% endblock %}

{% block content %}
  <section class="pt-4 bg-gray-50 dark:bg-gray-900">
    <div class="px-6 py-8 mx-auto lg:py-0 container">
      <div class="bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Profile</h1>

          <form class="space-y-4 md:space-y-6" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="grid gap-4">
              {% comment %} {{ form.as_p }} {% endcomment %}

              {% comment %} if picture display {% endcomment %}
              {% if form.avatar.value %}
                <div>
                  {% load dict_filter %}
                  <img src="{{ form.avatar.value.url|remove_media_prefix }}" alt="avatar" class="w-20 h-20 rounded-full" />
                </div>
              {% endif %}

              <div>
                <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900">Avatar</label>
                <input type="file" name="avatar" accept="image/*" id="id_avatar" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" />
              </div>

              <div>
                <label for="bio" class="block mb-2 text-sm font-medium text-gray-900">Bio</label>
                <textarea id="id_bio" name="bio" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something about you here...">{{ form.bio.value }}</textarea>
              </div>

              <div>
                <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900">birthdate</label>
                <input value="{{ form.birthdate.value|date:"Y-m-d" }}" type="date" name="birthdate" id="id_birthdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="" />
              </div>

              <div>
                <label for="emotion" class="block mb-2 text-sm font-medium text-gray-900">Actual Emotion</label>
                <select name="emotion" id="id_emotion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value="happy" {% if form.emotion.value == "happy" %} selected {% endif %}>Happy</option>
                  <option value="sad" {% if form.emotion.value == "sad" %} selected {% endif %}>Sad</option>
                  <option value="angry" {% if form.emotion.value == "angry" %} selected {% endif %}>Angry</option>
                  <option value="surprised" {% if form.emotion.value == "surprised" %} selected {% endif %}>Surprised</option>
                  <option value="disgusted" {% if form.emotion.value == "disgusted" %} selected {% endif %}>Disgusted</option>
                  <option value="fearful" {% if form.emotion.value == "fearful" %} selected {% endif %}>Fearful</option>
                  <option value="neutral" {% if form.emotion.value == "neutral" %} selected {% endif %}>Neutral</option>
                </select>
              </div>

              <div>
                <label for="language" class="block mb-2 text-sm font-medium text-gray-900">Default language four output of ChatGPT</label>
                <select name="language" id="id_language" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  {% comment %} ajoute une image de drapeau par pays {% endcomment %}
                  <option value="af" {% if form.language.value == "af" %} selected {% endif %}>Afrikaans <img src="afrikaans_flag.png" alt="Afrikaans Flag"></option>
                  <option value="sq" {% if form.language.value == "sq" %} selected {% endif %}>Albanian <img src="albanian_flag.png" alt="Albanian Flag"></option>
                  <option value="am" {% if form.language.value == "am" %} selected {% endif %}>Amharic <img src="amharic_flag.png" alt="Amharic Flag"></option>
                  <option value="hy" {% if form.language.value == "hy" %} selected {% endif %}>Armenian <img src="armenian_flag.png" alt="Armenian Flag"></option>
                  <option value="az" {% if form.language.value == "az" %} selected {% endif %}>Azerbaijani <img src="azerbaijani_flag.png" alt="Azerbaijani Flag"></option>
                  <option value="eu" {% if form.language.value == "eu" %} selected {% endif %}>Basque <img src="basque_flag.png" alt="Basque Flag"></option>
                  <option value="be" {% if form.language.value == "be" %} selected {% endif %}>Belarusian <img src="belarusian_flag.png" alt="Belarusian Flag"></option>
                  <option value="bn" {% if form.language.value == "bn" %} selected {% endif %}>Bengali <img src="bengali_flag.png" alt="Bengali Flag"></option>
                  <option value="bs" {% if form.language.value == "bs" %} selected {% endif %}>Bosnian <img src="bosnian_flag.png" alt="Bosnian Flag"></option>
                  <option value="bg" {% if form.language.value == "bg" %} selected {% endif %}>Bulgarian <img src="bulgarian_flag.png" alt="Bulgarian Flag"></option>
                  <option value="ca" {% if form.language.value == "ca" %} selected {% endif %}>Catalan <img src="catalan_flag.png" alt="Catalan Flag"></option>
                  <option value="ceb" {% if form.language.value == "ceb" %} selected {% endif %}>Cebuano <img src="cebuano_flag.png" alt="Cebuano Flag"></option>
                  <option value="ny" {% if form.language.value == "ny" %} selected {% endif %}>Chichewa <img src="chichewa_flag.png" alt="Chichewa Flag"></option>
                  <option value="co" {% if form.language.value == "co" %} selected {% endif %}>Corsican <img src="corsican_flag.png" alt="Corsican Flag"></option>
                  <option value="hr" {% if form.language.value == "hr" %} selected {% endif %}>Croatian <img src="croatian_flag.png" alt="Croatian Flag"></option>
                  <option value="cs" {% if form.language.value == "cs" %} selected {% endif %}>Czech <img src="czech_flag.png" alt="Czech Flag"></option>
                  <option value="da" {% if form.language.value == "da" %} selected {% endif %}>Danish <img src="danish_flag.png" alt="Danish Flag"></option>
                  <option value="nl" {% if form.language.value == "nl" %} selected {% endif %}>Dutch <img src="dutch_flag.png" alt="Dutch Flag"></option>
                  <option value="en" {% if form.language.value == "en" %} selected {% endif %}>English <img src="english_flag.png" alt="English Flag"></option>
                  <option value="eo" {% if form.language.value == "eo" %} selected {% endif %}>Esperanto <img src="esperanto_flag.png" alt="Esperanto Flag"></option>
                  <option value="et" {% if form.language.value == "et" %} selected {% endif %}>Estonian <img src="estonian_flag.png" alt="Estonian Flag"></option>
                  <option value="tl" {% if form.language.value == "tl" %} selected {% endif %}>Filipino <img src="filipino_flag.png" alt="Filipino Flag"></option>
                  <option value="fi" {% if form.language.value == "fi" %} selected {% endif %}>Finnish <img src="finnish_flag.png" alt="Finnish Flag"></option>
                  <option value="fr" {% if form.language.value == "fr" %} selected {% endif %}>French <img src="french_flag.png" alt="French Flag"></option>
                  <option value="fy" {% if form.language.value == "fy" %} selected {% endif %}>Frisian <img src="frisian_flag.png" alt="Frisian Flag"></option>
                  <option value="gl" {% if form.language.value == "gl" %} selected {% endif %}>Galician <img src="galician_flag.png" alt="Galician Flag"></option>
                  <option value="ka" {% if form.language.value == "ka" %} selected {% endif %}>Georgian <img src="georgian_flag.png" alt="Georgian Flag"></option>
                  <option value="gu" {% if form.language.value == "gu" %} selected {% endif %}>Gujarati <img src="gujarati_flag.png" alt="Gujarati Flag"></option>
                  <option value="ht" {% if form.language.value == "ht" %} selected {% endif %}>Haitian Creole <img src="haitian_creole_flag.png" alt="Haitian Creole Flag"></option>
                  <option value="ha" {% if form.language.value == "ha" %} selected {% endif %}>Hausa <img src="hausa_flag.png" alt="Hausa Flag"></option>
                  <option value="haw" {% if form.language.value == "haw" %} selected {% endif %}>Hawaiian <img src="hawaiian_flag.png" alt="Hawaiian Flag"></option>
                  <option value="iw" {% if form.language.value == "iw" %} selected {% endif %}>Hebrew <img src="hebrew_flag.png" alt="Hebrew Flag"></option>
                  <option value="hmn" {% if form.language.value == "hmn" %} selected {% endif %}>Hmong <img src="hmong_flag.png" alt="Hmong Flag"></option>
                  <option value="hu" {% if form.language.value == "hu" %} selected {% endif %}>Hungarian <img src="hungarian_flag.png" alt="Hungarian Flag"></option>
                  <option value="is" {% if form.language.value == "is" %} selected {% endif %}>Icelandic <img src="icelandic_flag.png" alt="Icelandic Flag"></option>
                  <option value="ig" {% if form.language.value == "ig" %} selected {% endif %}>Igbo <img src="igbo_flag.png" alt="Igbo Flag"></option>
                  <option value="id" {% if form.language.value == "id" %} selected {% endif %}>Indonesian <img src="indonesian_flag.png" alt="Indonesian Flag"></option>
                  <option value="ga" {% if form.language.value == "ga" %} selected {% endif %}>Irish <img src="irish_flag.png" alt="Irish Flag"></option>
                  <option value="it" {% if form.language.value == "it" %} selected {% endif %}>Italian <img src="italian_flag.png" alt="Italian Flag"></option>
                  <option value="ja" {% if form.language.value == "ja" %} selected {% endif %}>Japanese <img src="japanese_flag.png" alt="Japanese Flag"></option>
                  <option value="jw" {% if form.language.value == "jw" %} selected {% endif %}>Javanese <img src="javanese_flag.png" alt="Javanese Flag"></option>
                  <option value="kn" {% if form.language.value == "kn" %} selected {% endif %}>Kannada <img src="kannada_flag.png" alt="Kannada Flag"></option>
                  <option value="kk" {% if form.language.value == "kk" %} selected {% endif %}>Kazakh <img src="kazakh_flag.png" alt="Kazakh Flag"></option>
                  <option value="km" {% if form.language.value == "km" %} selected {% endif %}>Khmer <img src="khmer_flag.png" alt="Khmer Flag"></option>
                  <option value="rw" {% if form.language.value == "rw" %} selected {% endif %}>Kinyarwanda <img src="kinyarwanda_flag.png" alt="Kinyarwanda Flag"></option>
                  <option value="ko" {% if form.language.value == "ko" %} selected {% endif %}>Korean <img src="korean_flag.png" alt="Korean Flag"></option>
                  <option value="ku" {% if form.language.value == "ku" %} selected {% endif %}>Kurdish (Kurmanji) <img src="kurdish_kurmanji_flag.png" alt="Kurdish (Kurmanji) Flag"></option>
                  <option value="ky" {% if form.language.value == "ky" %} selected {% endif %}>Kyrgyz <img src="kyrgyz_flag.png" alt="Kyrgyz Flag"></option>
                  <option value="lo" {% if form.language.value == "lo" %} selected {% endif %}>Lao <img src="lao_flag.png" alt="Lao Flag"></option>
                  <option value="la" {% if form.language.value == "la" %} selected {% endif %}>Latin <img src="latin_flag.png" alt="Latin Flag"></option>
                  <option value="lv" {% if form.language.value == "lv" %} selected {% endif %}>Latvian <img src="latvian_flag.png" alt="Latvian Flag"></option>
                  <option value="lt" {% if form.language.value == "lt" %} selected {% endif %}>Lithuanian <img src="lithuanian_flag.png" alt="Lithuanian Flag"></option>
                  <option value="lb" {% if form.language.value == "lb" %} selected {% endif %}>Luxembourgish <img src="luxembourgish_flag.png" alt="Luxembourgish Flag"></option>
                  <option value="mk" {% if form.language.value == "mk" %} selected {% endif %}>Macedonian <img src="macedonian_flag.png" alt="Macedonian Flag"></option>
                  <option value="mg" {% if form.language.value == "mg" %} selected {% endif %}>Malagasy <img src="malagasy_flag.png" alt="Malagasy Flag"></option>
                  <option value="ms" {% if form.language.value == "ms" %} selected {% endif %}>Malay <img src="malay_flag.png" alt="Malay Flag"></option>
                  <option value="ml" {% if form.language.value == "ml" %} selected {% endif %}>Malayalam <img src="malayalam_flag.png" alt="Malayalam Flag"></option>
                  <option value="mt" {% if form.language.value == "mt" %} selected {% endif %}>Maltese <img src="maltese_flag.png" alt="Maltese Flag"></option>
                  <option value="mi" {% if form.language.value == "mi" %} selected {% endif %}>Maori <img src="maori_flag.png" alt="Maori Flag"></option>
                  <option value="mr" {% if form.language.value == "mr" %} selected {% endif %}>Marathi <img src="marathi_flag.png" alt="Marathi Flag"></option>
                  <option value="mn" {% if form.language.value == "mn" %} selected {% endif %}>Mongolian <img src="mongolian_flag.png" alt="Mongolian Flag"></option>
                  <option value="my" {% if form.language.value == "my" %} selected {% endif %}>Myanmar (Burmese) <img src="myanmar_burmese_flag.png" alt="Myanmar (Burmese) Flag"></option>
                  <option value="ne" {% if form.language.value == "ne" %} selected {% endif %}>Nepali <img src="nepali_flag.png" alt="Nepali Flag"></option>
                  <option value="no" {% if form.language.value == "no" %} selected {% endif %}>Norwegian <img src="norwegian_flag.png" alt="Norwegian Flag"></option>
                  <option value="ps" {% if form.language.value == "ps" %} selected {% endif %}>Pashto <img src="pashto_flag.png" alt="Pashto Flag"></option>
                  <option value="fa" {% if form.language.value == "fa" %} selected {% endif %}>Persian <img src="persian_flag.png" alt="Persian Flag"></option>
                  <option value="pl" {% if form.language.value == "pl" %} selected {% endif %}>Polish <img src="polish_flag.png" alt="Polish Flag"></option>
                  <option value="pt" {% if form.language.value == "pt" %} selected {% endif %}>Portuguese <img src="portuguese_flag.png" alt="Portuguese Flag"></option>
                  <option value="pa" {% if form.language.value == "pa" %} selected {% endif %}>Punjabi <img src="punjabi_flag.png" alt="Punjabi Flag"></option>
                  <option value="ro" {% if form.language.value == "ro" %} selected {% endif %}>Romanian <img src="romanian_flag.png" alt="Romanian Flag"></option>
                  <option value="ru" {% if form.language.value == "ru" %} selected {% endif %}>Russian <img src="russian_flag.png" alt="Russian Flag"></option>
                  <option value="sm" {% if form.language.value == "sm" %} selected {% endif %}>Samoan <img src="samoan_flag.png" alt="Samoan Flag"></option>
                  <option value="gd" {% if form.language.value == "gd" %} selected {% endif %}>Scots Gaelic <img src="scots_gaelic_flag.png" alt="Scots Gaelic Flag"></option>
                  <option value="sr" {% if form.language.value == "sr" %} selected {% endif %}>Serbian <img src="serbian_flag.png" alt="Serbian Flag"></option>
                  <option value="st" {% if form.language.value == "st" %} selected {% endif %}>Sesotho <img src="sesotho_flag.png" alt="Sesotho Flag"></option>
                  <option value="sn" {% if form.language.value == "sn" %} selected {% endif %}>Shona <img src="shona_flag.png" alt="Shona Flag"></option>
                  <option value="sd" {% if form.language.value == "sd" %} selected {% endif %}>Sindhi <img src="sindhi_flag.png" alt="Sindhi Flag"></option>
                  <option value="si" {% if form.language.value == "si" %} selected {% endif %}>Sinhala <img src="sinhala_flag.png" alt="Sinhala Flag"></option>
                  <option value="sk" {% if form.language.value == "sk" %} selected {% endif %}>Slovak <img src="slovak_flag.png" alt="Slovak Flag"></option>
                  <option value="sl" {% if form.language.value == "sl" %} selected {% endif %}>Slovenian <img src="slovenian_flag.png" alt="Slovenian Flag"></option>
                  <option value="so" {% if form.language.value == "so" %} selected {% endif %}>Somali <img src="somali_flag.png" alt="Somali Flag"></option>
                  <option value="es" {% if form.language.value == "es" %} selected {% endif %}>Spanish <img src="spanish_flag.png" alt="Spanish Flag"></option>
                  <option value="su" {% if form.language.value == "su" %} selected {% endif %}>Sundanese <img src="sundanese_flag.png" alt="Sundanese Flag"></option>
                  <option value="sw" {% if form.language.value == "sw" %} selected {% endif %}>Swahili <img src="swahili_flag.png" alt="Swahili Flag"></option>
                  <option value="sv" {% if form.language.value == "sv" %} selected {% endif %}>Swedish <img src="swedish_flag.png" alt="Swedish Flag"></option>
                  <option value="tg" {% if form.language.value == "tg" %} selected {% endif %}>Tajik <img src="tajik_flag.png" alt="Tajik Flag"></option>
                  <option value="ta" {% if form.language.value == "ta" %} selected {% endif %}>Tamil <img src="tamil_flag.png" alt="Tamil Flag"></option>
                  <option value="te" {% if form.language.value == "te" %} selected {% endif %}>Telugu <img src="telugu_flag.png" alt="Telugu Flag"></option>
                  <option value="th" {% if form.language.value == "th" %} selected {% endif %}>Thai <img src="thai_flag.png" alt="Thai Flag"></option>
                  <option value="tr" {% if form.language.value == "tr" %} selected {% endif %}>Turkish <img src="turkish_flag.png" alt="Turkish Flag"></option>
                  <option value="uk" {% if form.language.value == "uk" %} selected {% endif %}>Ukrainian <img src="ukrainian_flag.png" alt="Ukrainian Flag"></option>
                  <option value="ur" {% if form.language.value == "ur" %} selected {% endif %}>Urdu <img src="urdu_flag.png" alt="Urdu Flag"></option>
                  <option value="ug" {% if form.language.value == "ug" %} selected {% endif %}>Uyghur <img src="uyghur_flag.png" alt="Uyghur Flag"></option>
                  <option value="uz" {% if form.language.value == "uz" %} selected {% endif %}>Uzbek <img src="uzbek_flag.png" alt="Uzbek Flag"></option>
                  <option value="vi" {% if form.language.value == "vi" %} selected {% endif %}>Vietnamese <img src="vietnamese_flag.png" alt="Vietnamese Flag"></option>
                  <option value="cy" {% if form.language.value == "cy" %} selected {% endif %}>Welsh <img src="welsh_flag.png" alt="Welsh Flag"></option>
                  <option value="xh" {% if form.language.value == "xh" %} selected {% endif %}>Xhosa <img src="xhosa_flag.png" alt="Xhosa Flag"></option>
                  <option value="yi" {% if form.language.value == "yi" %} selected {% endif %}>Yiddish <img src="yiddish_flag.png" alt="Yiddish Flag"></option>
                  <option value="yo" {% if form.language.value == "yo" %} selected {% endif %}>Yoruba <img src="yoruba_flag.png" alt="Yoruba Flag"></option>
                  <option value="zu" {% if form.language.value == "zu" %} selected {% endif %}>Zulu <img src="zulu_flag.png" alt="Zulu Flag"></option>
                  <option value="other" {% if form.language.value == "other" %} selected {% endif %}>Other</option>
                </select>
              </div>
            </div>
            </div>

            <div class="text-end">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
