{% extends '../base.html' %}


{% block style %}
    <link rel="stylesheet" href="../static/css/home/contact.css"/>
{% endblock %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <br>
    <p><strong>If you have any questions or feedback, please feel free to contact us using the information below:</strong></p>
    <br><hr><br>
    <h2>Email</h2>
    <p>For general inquiries, please email us at: <a href="mailto:info@example.com">info@example.com</a></p>
    <br><hr><br>
    <h2>Phone</h2>
    <p>You can reach us by phone during our business hours at: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
    <br><hr><br>
    <h2>Address</h2>
    <p>Visit us at our office at the following address:</p>
    <address>
        123 Example Street,<br>
        City, State, 12345
    </address>
    <br><hr><br>
    <h2>Social Media</h2>
    <p>Follow us on our social media pages:</p>
    <ul>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
    </ul>
    <br><hr><br>
    <br>
{% endblock %}