<!DOCTYPE html>
{% load dict_filter %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.4/lib/index.min.js"></script>
  </body>
</html>
