<!DOCTYPE html>
{% load dict_filter %}
{% load static %}
{% load highlightjs %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3b346af46d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <link href="{% highlightjs_css_url %}" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

    {% comment %} Lucky ---------- {% endcomment %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    {% comment %} ---------------- {% endcomment %}
</head>
<body class="{{ body_class }}">
{% csrf_token %}
{% include '_partials/navbar.html' %}

<main>
    {% highlightjs_javascript jquery=1 %}
    {% block content %}

    {% endblock %}
</main>


{% include '_partials/footer.html' %}


<script src=" https://cdn.jsdelivr.net/npm/tailwindcss@3.4.4/lib/index.min.js"></script>
<script>
     
    let csrftoken = $('[name=csrfmiddlewaretoken]').val();
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
