{% extends '../base.html' %}

{% block title %}
    List of feedbacks
{% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Feedbacks</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">List of feedbacks from users</p>
            <div class="space-y-4 md:space-y-6">
                <div class="flex items-center justify-between">
                    <div class="flex items center">
                        <span class="text-sm font-medium text-gray-900 dark:text-gray-300">Feedbacks</span>
                    </div>
                    <div class="flex items center">
                        <span class="text-sm font-medium text-gray-900 dark:text-gray-300">Actions</span>
                    </div>
                </div>
                {% for feedback in feedbacks %}
                    <div class="flex items center justify-between">
                        <div class="flex items center">
                            <span class="text-sm font-medium text-gray-900 dark:text-gray-300">{{ feedback.subject }}</span>
                        </div>
                        <div class="flex items center">
                            <a href="#" class="text-sm font-medium text-red-500 dark:text-red-400">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
