{% extends '../base.html' %}
{% load static %}

{% block content %}
  <div class="p-12 bg-gray-100">
    <h1 class="mx-auto text-center">Forum</h1>
  </div>

  <div class="grid block md:grid-cols-3 p-4 gap-4">
    <div class="cols-1/3">
      <div>
        <button type="button" class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Start a discussion</button>
      </div>

      <div>
        <button type="button" class="inline-flex items-center gap-2 w-full px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <span><i class="fa-regular fa-comments"></i></span>
            Messages
          <span class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">2</span>
        </button>
      </div>1
    </div>

    <div class="cols-2/3">2</div>
  </div>
{% endblock %}
