{% extends '../base.html' %}{% load static %}

{% block content %}
    <div class="dark:bg-gray-900 lg:p-[80px] md:p-[30px] p-[15px] h-screen">
        {% for data in datas %}
            <div class="flex justify-between items-center p-4 shadow rounded-lg max-w p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-8" id="chat-component-{{ data.id }}">
                <h2 class="text-xl font-bold text-white">{{ data.name}}</h2>
                <div class="flex space-x-2">
                    <a class="px-4 py-2 text-white rounded hover:bg-gray-700 border border-sky-500 dark:bg-gray-800" href="{% url 'chats:chat_detail' data.id %}"><i class="fa fa-eye text-sky-500 hover:text-sky-700"></i></a>
                    <a class="px-4 py-2 text-white rounded hover:bg-gray-700 border border-red-500 dark:bg-gray-800 delete-chat-btn" data-id-chat="{{ data.id }}"><i class="fa fa-trash text-red-500 hover:text-red-700"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <form method="post" id="add_chat_form" class="fixed bottom-0 right-0 p-4">
        {% csrf_token %}
        <input type="text" name="name" class="p-2 border border-gray-200 rounded-lg" placeholder="Nom du chat">
        <button class="p-2 bg-blue-500 text-white rounded-lg">Ajouter</button>
    </form>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'chats/home.js' %}"></script>
{% endblock %}